.orderDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 4px hsl(0, 0%, 87%);
    padding:8px;
    height:100%;
    overflow: scroll;
    position:relative;
}


.orderDetailsHeader {
    display: flex;
    align-items: center;
    width:100%;
    font-size:1rem;
    color:#0d63fe;
}

.orderDetailsButton > tr{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.checkoutButton {
    width:100%;
    outline:none;
    border:none;
    background: #0d63fe;
    color:#ffffff;
    margin-block:12px;
    font-size: 1rem;
    border-radius: 15px;
    padding:8px;
}

.checkoutButton:hover {
    background: #1f5ad0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.orderDetailsContent {
    width:100%;
    margin-block: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderDetailsList {
    list-style: none;
    width: 100%;
    height:30rem;
    overflow: scroll;
    border-top:1px solid #ddd;
}

.orderDetailsList > li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderDetailsFooter {
    padding:10px;
    background: #ffffff;
    color:#0d63fe;
    text-align: left;
    padding:12px;
    font-size: 1rem;
    font-weight: 700;
    width:100%;
    border-top: 0.1px solid #ddd;
}

.orderDetailsFooter > .orderDetailsContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:800px) {
    .orderDetailsList {
        height: 100%;
        overflow: hidden;
    }
}