.orderDetailRow {
    width: 100%;
    padding:8px;
    margin-block: 5px;
    background: #ffffff;
    font-size: 1rem;
}

.productName {
    min-width: 400px;
    font-weight: 500;
}

.productRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.productTotalPrice {
    min-width: 250px;
    font-weight: 400;
}
