.orderDetailRow {
    width: 100%;
    padding:8px;
    margin-block: 4px;
    background: #ffffff;
}

.productName {
    font-weight: 500;
    font-size: 1rem;
}

.productRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.productTotalPrice {
    min-width: 200px;
    text-align: right;
    font-weight: 400;
    font-size: 1rem;
    color:#4f4f4f;
}

@media(max-width:800px) {
    .productName {
        font-size: 0.85rem;
    }
    .productTotalPrice {
        font-size: 0.85rem;
    }
}