.sortFilterWrapper {
    display: flex;
    flex-direction: column;
    width:100%;
}

.sortFilterHeader {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sortHeader > h3 {
    font-size: 1rem;
    font-weight: 400;
}

.sortFilterBody {
    display: flex;
    margin-block:8px;
    flex-direction: column;
}

.sortActionButton {
    padding:8px;
    font-size: 1rem;
    background:#fff;
    border:none;
    outline:none;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-block-end: 8px;
    font-weight: 600;
}

.sortActionButton:hover {
    filter:drop-shadow(0 0 4px #ddd);
}