.cartCardWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 4px #ddd;
    width:85%;
    margin-block-start: 12px;
    margin-block-end:20px;
    border-radius: 8px;
}

.cartCardWrapper:hover {
    box-shadow: 0 0 2px #4f4f4f;
    transition: all 0.2s ease-in-out;
}

.productImage {
    max-height:16vmin;
    width: auto;
    margin:8px;
}
.cartCardProductActions {
    padding:12px;
    margin-bottom: 10px;
    display: flex;
    max-width: 400px;
    align-items: center;
    justify-content: space-evenly;
}

.cartCardDescription {
    max-width: 200px;
}
.cartCardDescription > h3 {
    font-size: 28px;
    font-weight: 600;
}

.cartCardDescription > p {
    font-size: 18px;
    font-weight: 400;
}

.editButton {
    margin-inline: 8px;
    padding:8px;
    background:#0d6efd;
    color:#fff;
    border:none;
    outline:none;
    border-radius: 5px;
}

.quantityInput {
    border:none;
    outline:none;
    padding:8px;
    font-size: 15px;
}



@media(max-width:800px) {
    .cartCardWrapper {
        flex-direction: column;
        width: 100%;
        margin-inline:20px;
    }
    .productImage {
        min-height: 40vmin;
    }
    .cartCardDescription > h3 {
        font-size: 22px;
    }
    .cartCardDescription > p {
        font-size: 15px;
    }
    .quantityInput {
        font-size: 12px;
    }
}

@media(max-width:1200px) {
    .cartCardWrapper {
        flex-direction: column;
        margin: 10px;
    }
    .productImage {
        min-height: 30vmin;
    }
}
