.buttonWrapper {
    margin-block-end: 10px;
}
.productPageWrapper{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-block-start: 15px;
    height: calc(100vh - 80px);
    overflow-y: hidden;
}

.productPageLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-inline:20px;
}

.productImage {
    margin-block-end: 12px;
    height:30rem;
    width:auto;
    cursor: url('../../assets/image-grid.png');

}

.productPageRight {
    padding:12px;
    margin-inline:10px;
    flex:0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height:calc(100vh - 75px);
    overflow-y:scroll;
}

.productPageHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    margin-block:10px;
}

.productPageHeader > h2{
    font-size: 3rem;
    font-weight: 600;
}

.productPrice {
    margin-block: 8px;
    font-size: 22px;
}

.productPrice > h4 {
    font-weight: 600;
}

.productPageDescription {
    padding:8px;
    display: flex;
    flex-direction: column;
}

.productPageOptions {
    width:100%;
}

.productPageDescriptionUpper {
    font-size: 1rem;
    font-weight: 400;
    margin-block-end:12px;
    color:#4f4f4f;
}

.productPageDescriptionLower {
    font-size:1rem;
    font-weight: 400;
    color:#4f4f4f;
}

.ratingLabel{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media(max-width:800px) {
    .productPageWrapper {
        flex-direction: column;
        height:100%;
    }
    .productPageRight {
        flex:1;
    }
    .productImage{
        height:18rem;
    }
    .productPageHeader > h2 {
        font-size: 2rem;
    }
}