.buttonWrapper {
    margin-block-start: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productPageWrapper{
    background:#fafafa;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-block-start: 15px;
    height: calc(100vh - 80px);
    overflow-y: hidden;
}

.productPageLeft {
    height:calc(100vh - 70px);
    background:#fff;
    display: flex;
    flex:0.6;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-inline:20px;
}

.productImage {
    margin-block-end: 12px;
    width:35rem;
    height: auto;
    cursor: url('../../assets/image-grid.png');

}

.productPageRight {
    padding:16px;
    margin-inline:20px;
    display: flex;
    flex:0.6;
    flex-direction: column;
    align-items: center;
    max-height:calc(100vh - 75px);
    overflow-y:scroll;
}

.productPageHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:80%;
    margin-block:10px;
}

.productPageHeader > h2{
    font-size: 3rem;
    font-weight: 600;
}

.productPrice {
    margin-block: 8px;
    font-size: 22px;
}

.productPrice > h4 {
    font-weight: 600;
}

.productPageDescription {
    padding:8px;
    display: flex;
    flex-direction: column;
    width:80%;
}

.productPageDescriptionUpper {
    font-size: 1rem;
    font-weight: 400;
    margin-block-end:12px;
    color:#4f4f4f;
}

.productPageDescriptionLower {
    font-size:0.95rem;
    font-weight: 400;
    color:#4f4f4f;
}

.ratingLabel{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media(max-width:1200px) {
    .productPageWrapper {
        flex-direction: column;
        height:100%;
    }
    .productPageLeft {
        flex:1;
        width: 100%;
        height:100%;
    }
    .productPageRight {
        flex:1;
        height:100%;
    }
    .productImage{
        margin:0;
        height:18rem;
        width:auto;
    }
    .productPageHeader > h2 {
        font-size: 2rem;
    }
    .productPageHeader {
        width:100%;
    }
    .productPageDescription {
        width:100%;
    }
}

@media(max-width:300px) {
    .productImage {
        width:12rem;
    }
}