.productPageWrapper{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-block: 25px;
}

.productPageLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-inline:20px;
    max-height: calc(100vh - 70px);
    overflow-y: hidden;
}

.productImage {
    height:60vmin;
    width:auto;
}

.productPageRight {
    padding:12px;
    margin-inline:10px;
    flex:0.6;
    display: flex;
    flex-direction: column;
    max-height:calc(100vh - 70px);
    overflow-y:scroll;
}

.productPageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-block:10px;
}

.productPageHeader > h2{
    font-size: 6vmin;
    font-weight: 600;
}

.productPrice {
    margin-block: 10px;
    font-size: 22px;
}

.productPrice > h4 {
    font-weight: 600;
}

.productPageDescription {
    display: flex;
    flex-direction: column;
}

.productPageOptions {
    width:100%;
}

.productPageDescriptionUpper {
    font-size: 14px;
    font-weight: 400;
    margin-block-end:12px;
    color:#4f4f4f;
}

.productPageDescriptionLower {
    font-size:2.3vmin;
    font-weight: 400;
    color:#4f4f4f;
}



.addToCartButton {
    padding:8px;
    margin-block-start:12px;
    background:#0d63fe;
    color:#fff;
    border:none;
    outline:none;
    border-radius: 5px;
    width:100%;
    font-weight: 600;
    cursor: pointer;
}

.buyNowButton {
    padding:8px;
    margin-block-start:12px;
    background:#fff;
    color:#0d63fe;
    border:1px solid #0d63fe;
    outline:none;
    border-radius: 5px;
    font-weight: 600;
    width:100%;
}

.addToCartButton :hover {
    background: #1f5ad0;
    transition:all 0.2s ease-in-out;
    cursor:pointer;
}

.buyNowButton:hover {
    background:#0d63fe;
    color:#fff;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
}

@media(max-width:800px) {
    .productPageWrapper {
        flex-direction: column;
    }
    .productPageRight {
        flex:1;
    }
}