.filterCategoryDropdown {
    padding: 8px;
    margin-inline: 10px;
    border:0.5px solid #ddd;
    outline:none;
    font-size: 1rem;
    background: #fff;
    border-radius: 5px;
}

.filterCategoryDropdown > option {
    text-transform: capitalize;
}

.productList {
    height: calc(100vh - 150px);
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 0fr) );
    padding:10px;
    background: #fafafa;
}

.productListWrapper {
    height:calc(100vh - 105px);
    width: 100%;
}

.productSearchFilter {
    padding-inline:20px;
    padding-block: 10px;
    margin-top:10px;
    width:100%;
    display: flex;
    align-items: center;
}

.searchBarInput {
    padding:8px;
    margin-inline:10px;
    border:0.5px solid #ddd;
    outline:none;
    font-size: 1rem;
    border-radius: 5px;
}

@media(max-width:800px) {
    .productList {
        grid-template-columns: repeat(auto-fit,minmax(auto,0fr));
    }
    .productSearchFilter{
        flex-direction: column;
        align-items: center;
    }
    select{
        margin-top:10px;
        width: auto;
    }
}