.navbarWrapper {
    height:65px;
    z-index:1000;
    width: auto;
    background: #0d6efd;
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
}

.navbarRight {
    display: flex;
    align-items: center;
}

.cartIcon {
    display: flex;
    align-items: center;
    text-align: center;
    margin-inline-end: 15px;
    position: relative;
}


.cartNumber {
    position: absolute;
    top:0%;
    left:75%;
    width:20px;
    height:20px;
    margin-top:2px;
    font-size: 14px;
    border-radius: 50%;
    color:#fff;
    background: #d10023;
}

.iconButton {
    max-height: 45px;
    width: auto;
}

.cartIcon:hover {
    transform:scale(1.05);
    transition: all 0.2s ease-in-out;
}

.logo {
    font-size: 25px;
    margin-inline-start: 10px;
}
