.homepageWrapper {
    display: flex;
    align-items: flex-start;
}
.homepageBody {
    height:calc(100vh - 70px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.homepageFilters {
    display: flex;
    align-items: center;
    padding-inline:20px;
}

