.homepageWrapper {
    height:100%;
    margin:0;
    padding:0;
}

.homepageFilters {
    display: flex;
    align-items: center;
    padding-inline:20px;
    margin:10px;
}

.searchbarInput {
    padding:8px;
    border: 0.5px solid #ddd;
    outline:none;
    font-size: 1rem;
    border-radius:5px;
}